@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*, *::before, *::after {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    font-family: 'Anton', sans-serif;
    background-color: black;
    color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

$speed: 12s;

.loader {
    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 1920px;
    height: 1080px;
    animation: endFlash $speed infinite linear;
    
    @keyframes endFlash {
        0%, 89.999%, 95%, 100% { background-color: transparent; }
        90% { background-color: yellow; }
    }
}

.flash {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    clip-path: polygon(1058px 354px, 915px 519px, 948px 512px, 884px 618px, 919px 612px, 857px 727px, 998px 568px, 968px 572px, 1029px 473px, 990px 480px);
}

.loadingBar {
    position: absolute;
    left: 0;
    width: 100%; height: 100%;
    background-color: yellow;
    transform-origin: top center;
    transform: rotate(-10deg);
    animation: loading $speed linear infinite;
    
    @keyframes loading {
        0%, 11%, 90.001%, 100% { top: 730px; }
        90% { top: 350px; }
    }
}

.sides {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
}

.side {
    position: absolute;
    top: 0;
    width: 100%; height: 100%;
    
    &.left {
        clip-path: polygon(0 0, 1357px 0, 899px 528px, 935px 521px, 872px 626px, 908px 621px, 657px 100%, 0 100%);
        animation: leftSide $speed ease-in infinite, flashColor $speed linear infinite;
    }
    
    &.right {
        clip-path: polygon(1247px 0, 1002px 471px, 1042px 464px, 980px 564px, 1014px 559px, 555px 100%, 100% 100%, 100% 0);
        animation: rightSide $speed ease-in infinite, flashColor $speed linear infinite;
    }

    @keyframes leftSide {
        0%, 90.001%, 100% { left: -100%; }
        10%, 90% { left: 0%; }
    }

    @keyframes rightSide {
        0%, 90.001%, 100% { left: 100%; }
        10%, 90% { left: 0%; }
    }

    @keyframes flashColor {
        0%, 9.999%, 15%, 100% { background-color: red; }
        10% { background-color: white; }
    }
}

.circle {
    position: absolute;
    top: calc(50% + 7px); left: 50%;
    width: 305px;
    height: 305px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: white;
    border: 7px solid black;
    animation: enter $speed infinite;
}

.text {
    font-size: 50px;
    position: absolute;
    top: calc(50% + 160px); left: calc(50% + 40px);
    transform: translateX(-50%);
    animation: enter $speed infinite;
}

@keyframes enter {
    0%, 10%, 90.001%, 100% { opacity: 0; }
    10.001%, 90% { opacity: 1; }
}

.twitterLink {
  position: fixed;
  bottom: 0.5em; right: 0.5em;
  & img {
    width: 2em;
    filter: grayscale(100%);
    transition: filter 0.25s;
    &:hover {
      filter: grayscale(0%);
    }
  }
}
